{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true,
        "allow": [
          "_limit",
          "_offset",
          "_computedFilter",
	  "_computedFields",
          "_fields",
          "_order_by",
          "_filter",
          "_context"
        ]
      }
    ],
    "camelcase": [
      0,
      {
        "properties": "never"
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ]
  }
}
